# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Shawn M Moore <sartak@gmail.com> Shawn Moore <sartak@bestpractical.com>
Steven Haryanto <stevenharyanto@gmail.com> Steven Haryanto (on PC, Jakarta) <stevenharyanto@gmail.com>
Alex Vandiver <alex@chmrr.net> Alex Vandiver <alexmv@bestpractical.com>
